<!doctype html>
{% load bootstrap3 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>learning log</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <!--Static navbar-->
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
             <div class="navbar-header">
                 <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                         data-target="#navbar" aria-expanded="false" aria-controls="navbar"></button>
                 <a class="navbar-brand" href="{% url 'home' %}">learning log</a>
             </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'topic' %}">topics</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a>Hello {{ user.username }}</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'register' %}">Register</a></li>
                        <li><a href="{% url 'user' %}">Login</a></li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse-->
        </div>
    </nav>
    <div class="container">
        <div class="page-header">
            {% block header %} {% endblock header %}
        </div>
        <div>
            {% block content %} {% endblock %}
        </div>
    </div><!--/.container-->
</body>
</html>
